<!DOCTYPE html>
<html ng-app='CounterApp'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="../1-angularJS/angular.min.js" type="text/javascript"></script>
        <script src="app.js"></script>
        <title>Single Page WEB Application With Angular - Digest Cycle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
        <link rel="icon" href="https://angular.io/assets/images/favicons/favicon-194x194.png">
    </head>
    <!-- <body>
        <h1>The Digest Cycle</h1>
        <div ng-controller='CounterController'>
            <div>
                <button ng-click="showNumberOfWatchers()">Watchers</button>
                <br>
            </div>
            <div>
                <button ng-click="countOnce()">countOnce</button>
                <br>
            </div>
            <div>
                <button ng-click="upCounter()">upCounter</button>
                <br>
            </div>
            <div>
                Once Counter: {{onceCounter}}
                <br>
                Regular Counter: {{counter}}
            </div>
        </div>
    </body> -->

    <body>
        <h1>The Digest Cycle</h1>
        <div ng-controller='CounterController'>
            <div>
                <button ng-click="upCounter()">upCounter</button>
                <br>
            </div>
            <div>
                Regualr Counter: {{counter}}
            </div>
        </div>
    </body>
</html>